.container {
  width: 100%;
  max-width: $container-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $site-bleed;
  padding-right: $site-bleed;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: $gap;
  row-gap: $gap;
}

@for $i from 1 through 12 {
  .col-span-#{$i} {
    grid-column: span #{$i};
  }
}

.slide {
  border: 1px solid blue;
  display: flex;
  align-items: center;
  min-height: calc(100vh - #{$site-border-width * 2});
}