@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;600;700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: 1.4;
}

h1 {
  font-size: 4.209em;
}

h2 {
  font-size: 3.157em;
}

h3 {
  font-size: 2.369em;
}

h4 {
  font-size: 1.777em;
}

h5 {
  font-size: 1.333em;
}

h6 {
  font-size: 0.75em;
}

p {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.large {
  font-size: 1.5em;
}

.small {
  font-size: 0.85em;
}

.margin-bottom-0 {
  margin-bottom: 0;
}