---
layout: layouts/home.njk
---

<section class="container slide">
  <div class="grid">
    <div class="col-span-8">
      <h1 class="margin-bottom-0">Hi, I'm <strong>Jonny</strong>.</h1>
      <p class="large">I am a creative designer and front-end web developer working with charities and social enterprises in the UK.</p>
    </div>
  </div>
</section>